/* Basic CSS reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ------------------------------------------ Site Styling ------------------------------------------ */
body {
    background: #E2DED2;
    
    font-size: 18px;
    color: #5C5B59;
    text-align: center;
}

.about {
    max-width: 450px;
    margin: 30px auto 20px auto;
}

h1 {
    margin-bottom: 5px;
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 35px;
    font-weight: normal;
    text-shadow: 1px 1px 1px #fff;
}

.how {
    max-width: 450px;
    margin: 0 auto 40px auto;
    display: inline-block;
    
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
}

.how span {
    padding: 0 15px;
    
    font-size: 50px;
    line-height: 14px;
    
    position: relative;
    top: 9px;
}

.content {
    max-width: 450px;
    border: 5px solid #EEEBE2;
    border-radius: 5px;
    margin: 0 auto;
    
    box-shadow: 0px 0px 4px #CFCABA;
    
    background: #F2F1EC;
    
    position: relative;
}

.content:after {
    content: '';
    border: 1px solid #D4D0C2;
    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    z-index: 1;
}

.name {
    padding: 30px;
    
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 28px;
    text-shadow: 1px 1px 1px #fff;
    text-transform: capitalize;
    line-height: 1em;
}

.button {
    padding: 10px;
    
    background: #DB5554;
    
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    text-shadow: 1px 1px 1px #5C5B59;
    text-transform: uppercase;
    
    cursor: pointer;
    
    position: relative;
    z-index: 2;
    
    -webkit-transition: background 0.2s ease-in;  
    -moz-transition: background 0.2s ease-in;  
    -ms-transition: background 0.2s ease-in;  
    -o-transition: background 0.2s ease-in;  
    transition: background 0.2s ease-in;
}

.button:hover {
    background: #E35E5D;
}